@charset "UTF-8";

#wrap {
	width:1200px;
	margin:0 auto;
}

.contents > .main-menu {
	width:300px;
}


.main-menu > .rogo {
	width:300px;

}
.main-menu > .menu {
	width:300px;

}

.contents > .main-contents {
	width:1000px;
}

.main-contents > .post-layout{
	width:600px;
}

footer {
	height:100px;
}