<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cona.sns.post.repository.PostRepository">

	<insert id="insertPost" parameterType="map">
		INSERT INTO
			`post`
		(
			`userId`
			, `content`
			, `imagePath`
		
		)
		VALUE
		(
			#{userId}
			, #{content}
			, #{imagePath}
		)
		
	</insert>
	
	<select id="selectPostList" parameterType="int"
	resultType="com.cona.sns.post.domain.Post">
		SELECT 
			`id`
			, `userId`
			, `content`
			, `imagePath`
		FROM
			`post`
		ORDER BY
			`id` DESC;

	</select>


</mapper>